:root{
  --primary-text-color:#212121;
  --white-color:#FFFFFF;
  --accent-color: #2196F3;
  --button-active-color:#188CE8;
  --gray-color: #757575;
  --background-color: #2F303A;
  --background-color-button: #F5F4FA;
  --black-color: #000000;
  --background-section-portfolio: #EEEEEE;
  --border: #ECECEC ;
  --color-contacts: #acacb0;
}

/*BODY*/
.body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

address{
    font-style: normal;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    background-color: ;
}

/*HEADER*/
.header{
    border-bottom: solid var(--border);

    background-color: var(--white-color);

}

.header-container{
    display: flex;
    align-items: center;
}

/*LOGO*/
.logo{
    margin-right: 93px;
}

.logo-link{
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.color-wordWeb{
    color: var(--accent-color);
}

.color-wordStudio{
    color: var(--black-color);
}

.color-wordStudioo{
    color: var(--white-color);
}

/*NAV*/
.menu{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}

.nav-list{
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.nav-list-item:not(:last-child){
    margin-right: 50px;
}

.list-link{
    padding-top: 32px;
    padding-bottom: 32px;

    display: block;

    color: var(--primary-text-color);
}

a{
    text-decoration: none;
}

.list{
    list-style: none;
}

.list-link:hover{
    color: var(--accent-color);
}

.portfolio:active{
    color: var(--accent-color);
}

.portfolioo{
    color: var(--accent-color);
}


/*CONTACTS*/
.contacts{
    display: flex;
    align-items: center;

    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    list-style: none;

    color: var(--gray-color);
}

.contact-list-item{
    margin-right: 40px;
}

.contact-email:hover,
.contact-email:focus{
     color:  var(--accent-color);
     text-underline-position: inherit;
}

.contact-number:hover,
.contact-number:focus{
    color: var(--accent-color);
}

.contact-email,
.contact-number{
    color: var(--gray-color);

    padding-top: 32px;
    padding-bottom: 32px;
}


/*MAIN*/
/*FILTERS*/
.filters{
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);

}


.portfolio-section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter-bottom{
    padding: 6px 22px;
    color: var(--primary-text-color);
    background-color: var(--background-color-button);

    border-radius: 4px;
    border: 1px solid var(--black-color);
}

.everyone{
    padding: 6px 25px;
}

.filter-list-bottom:not(:last-child){
    margin-right: 8px;
}


.filter-bottom:hover, 
.filter-bottom:focus{
    color: var(--background-color-button);
    background-color: var(--accent-color);
}

.everyone:active{
    color: var(--white-color);
    background-color: var(--accent-color);
}



/*OUR PROJECTS*/
.container-projects{
    border-color: var(--border);

    flex-basis: calc((100%-30px*9)/9);
    display: flex;
    align-items: center;

}

.caption{
    margin-top: 20px;
    margin-bottom: 4px;
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    
    letter-spacing: 0.06em;

    color: var(--primary-text-color);
}

.subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;

    color: var(--gray-color);
}

.our-projects{
    flex-wrap: wrap;
    display: flex;
}

.project-list-item:nth-child(-n + 6) {
    margin-bottom: 30px;
}

.project-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}

.project-list-item{
    width: 370px;

    border-left: 1px solid var(--background-section-portfolio);
    border-right: 1px solid var(--background-section-portfolio);
    border-bottom: 1px solid var(--background-section-portfolio);
}

.content-project{
    padding-bottom: 16px;
}

.content-project-wrap{
    padding: 20px 24px;
}


/*FOOTER-INFORMATION*/
.footer{
    background-color: var(--background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer{
    margin-bottom: 20px;
}

.address{
    font-style: normal;
    
    margin-top: 20px;
}

.list-link-footer{
    padding-right: auto;
    padding-left: auto;
    display: block;
    
    color: var(--white-color);
}

.adress-list-item{
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.adress-list-item:not(:last-child){
    margin-bottom: 9px;
}