:root{
  --primary-text-color:#212121;
  --white-color:#FFFFFF;
  --accent-color: #2196F3 ;
  --button-active-color:#188CE8;
  --contact-color: #757575;
  --background-color: #2F303A;
  --background-color-our-team: #F5F4FA;
  --black-color: #000000;
  --color-contacts: #acacb0;
  --gray-color: #757575;
  --border-bottom-color: #ECECEC;
}

/*WITHOUT FILTERS*/
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

address{
    font-style: normal;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}


/*CONTAINER*/
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*BODY*/
.body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
}

/*HEADER*/
.header{
    border-bottom: 1px solid var(--border-bottom-color);
    
    background-color: var(--white-color);

}

.header-container{
    display: flex;
    align-items: center;
}

/*LOGO*/
.logo{
    margin-right: 93px;
}

.logo-link{
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.color-wordWeb{
    color: var(--accent-color);
}

.color-wordStudio{
    color: var(--black-color);
}

.color-wordStudioo{
    color: var(--white-color);
}

/*NAV*/
.menu{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}

.nav-list{
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.nav-list-item:not(:last-child){
    margin-right: 50px;
}

.list-link{
    padding-top: 32px;
    padding-bottom: 32px;

    display: block;

    color: var(--primary-text-color);
}

a{
    text-decoration: none;
}

.list{
    list-style: none;
}

.list-link:hover{
    color: var(--accent-color);
}

.studio:active{
    color: var(--accent-color);
}

.studio{
    color: var(--accent-color);
}


/*CONTACTS*/
.contacts{
    display: flex;
    align-items: center;

    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    list-style: none;

    color: var(--gray-color);
}

.contact-list-item:not(:last-child){
    margin-right: 40px;
}

.contact-email:hover,
.contact-email:focus{
     color:  var(--accent-color);
     text-underline-position: inherit;
}

.contact-number:hover,
.contact-number:focus{
    color: var(--accent-color);
}

.contact-email,
.contact-number{
    color: var(--gray-color);

    padding-top: 32px;
    padding-bottom: 32px;
}

/*=========MAIN============*/
.main{

}

/*HERO*/

.hero-container{

    background-color: var(--background-color);

    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
}

.title-hero{

    margin-right: auto;
    margin-left: auto;

    max-width: 696px;

    margin-bottom: 30px;;

    text-align: center;
    flex-wrap: wrap;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    

    color: var(--white-color);
}



.modal-button{
    display: block;
    
    margin-right: auto;
    margin-left: auto;

    margin-top: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;

    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;

    align-items: center;
    justify-content:center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.06em;

    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor:pointer;
}

.modal-button:active{
    background: var(--button-active-color);
    border: 4px drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-button{
    color: var(--white-color);
}


/*PREFER*/

.section_preference{
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: auto;
    padding-right: auto;
}

.col-4{
    display: flex;
}

.preference-list-item{
    width: 270px;
}

.preference-list-item:not(:last-child){
    margin-right: 30px;
}

.caption{
    margin-top: 94px;
    margin-bottom: 50px;

    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.subtitle{
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--contact-color);
}

.visually-hidden {

  position: absolute;

  width: 1px;

  height: 1px;

  margin: -1px;

  border: 0;

  padding: 0;

  

  white-space: nowrap;

  clip-path: inset(100%);

  clip: rect(0 0 0 0);

  overflow: hidden;

}

/*==== OUR-WORK====*/
.our-work{
    padding-bottom: 94px;
}

.col-3{
    display: flex;
}

.aboutUs-list-item{

    width: 370px;
}

.aboutUs-list-item:not(:last-child){
    margin-right: 30px;
}

.aboutUs-list-item{
    width: 370px;
}

.caption-our-work{
    margin-bottom: 50px;

    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

/*====OUR TEAM====*/

.sectionOurTeam{
    background-color: var(--background-color-our-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.caption-team{
    margin-bottom: 50px;

    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.column-4{
    display: flex;
}

.ourTeam-list-item:not(:last-child) {
    margin-right: 30px;
}



.our-team-container{
    flex-basis: calc((100%-30px*4)/4);
}

.ourTeam-list-item{
    border-radius: 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);;

    background-color: var(--white-color);
}

.name{

    text-align: center;
    flex-wrap: nowrap;


    margin-bottom: 10px;
    

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.content-team-wrap{

    padding-top: 30px;
    padding-bottom: 30px;


    text-align: center;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;    
}

.profession{
text-align: center;


flex-wrap: nowrap;

    font-size: 16px;
    line-height: 1.18;
    
    letter-spacing: 0.03em;

    color: var(--contact-color);
}


/*=====FOOTER-INFORMATION======*/
.footer{
    background-color: var(--background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer{
    margin-bottom: 20px;
}

.address{
    font-style: normal;
    
    margin-top: 20px;
}

.list-link-footer{
    padding-right: auto;
    padding-left: auto;
    display: block;
    
    color: var(--white-color);
}

.adress-list-item{
    margin-left: auto;
    margin-right: auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}

.adress-list-item:not(:last-child){
    margin-bottom: 9px;
}

.link-contacts{
    color: var(--color-contacts);
}