:root{
  --primary-text-color:#212121;
  --white-color:#FFFFFF;
  --accent-color: #2196F3 ;
  --button-active-color:#188CE8;
  --contact-color: #757575;
  --background-color: #2F303A;
  --background-color-our-team: #F5F4FA;
  --black-color: #000000;
  --color-contacts: #acacb0;
  --gray-color: #757575;
}

/*WITHOUT FILTERS*/
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}

address{
    font-style: normal;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}


/*CONTAINER*/
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    margin-top: 94px;
    margin-bottom: 94px;
}



/*BODY*/
.body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
}

/*HEADER*/
.header{
    padding-top: 24px;
    padding-bottom: 25px;

   background-color: var(--white-color);
}

.header-container{
    display: flex;
    align-items: center;
}



/*LOGO*/
.logo{
    margin-right: 93px;
}

.logo-link{
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.color-wordWeb{
    color: var(--accent-color);
}

.color-wordStudio{
    color: var(--black-color);
}

.color-wordStudioo{
    color: var(--white-color);
}

/*NAV*/
.menu{
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}

.nav-list{
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.nav-list-item:not(:last-child){
    margin-right: 50px;
}

.list-link{

    color: var(--primary-text-color);
}

a{
    text-decoration: none;
}

.list{
    list-style: none;
}

.list-link:hover{
    color: var(--accent-color);
}

.studio:active{
    color: var(--accent-color);
}

.studio{
    color: var(--accent-color);
}


/*CONTACTS*/
.information-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    list-style: none;

    color: var(--gray-color);
}

.contact-email{
    margin-left: auto;
    margin-right: 40px;
}

.contact-email:hover,
.contact-email:focus{
     color:  var(--accent-color);
     text-underline-position: inherit;
}

.contact-number:hover,
.contact-number:focus{
    color: var(--accent-color);
}

.contact-email,
.contact-number{
    color: var(--gray-color);
}




/*=========MAIN============*/
.main{

}

/*HERO*/

.hero-container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    
background-color: var(--background-color);

    align-items: center;
    justify-content:center;

    height: 600px;
    
}

.title-hero{
    padding-top: 200px;
    margin-left: 283px;
    margin-right: 283px;

    flex-wrap: wrap;
    width: 696px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.modal-button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;

    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    
    margin-top: 30px;
    margin-bottom: 200px;
    margin-right: 477px;
    margin-left: 477px;

    align-items: center;
    justify-content:center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.06em;

    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor:pointer;
}

.modal-button:active{
    background: var(--button-active-color);
    border: 4px drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-button{
    color: var(--white-color);
}

/*PREFER*/

.col-4{
    display: flex;
    align-items: center;
}

.caption{
    padding-bottom: 50px;

    margin-right: 400px;
    margin-left: 400px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;

    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.subtitle{
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--contact-color);
}

/*==== What-are-we-do====*/

.col-3{
    display: flex;
    align-items: center;
}

.aboutUs-list-item{
    flex-basis: calc((100%-30*3)/3);
}

/*====OUR TEAM====*/

.sectionOurTeam{
    background-color: var(--background-color-our-team);
    width: 1200;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.caption-team{
    padding-top: 91px;
}

.column-4{
    display: flex;
    align-items: center;
}

.ourTeam-list-item:not(:last-child) {
    margin-right: 30px;
    
}

.ourTeam-list-item{
    flex-basis: calc ((100%-30*4)/4);

    border-radius: 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);;

    background-color: var(--white-color);
}

.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}



.content-team-wrap{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    
    justify-content: center;
    align-items: center;    
}

.profession{
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.18;
    
    letter-spacing: 0.03em;

    color: var(--contact-color);
}


/*=====FOOTER-INFORMATION======*/
.footer{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-color);
}

.footer-container{
    padding-top: 30px;
}

.address{
    font-style: normal;
}



.map{
    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--white-color);
}

.address-email{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--color-contacts);
}

.address-number{
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--color-contacts);
}

.email{
    margin-top: 9px;
}

.number{
    margin-top: 9px;
    padding-bottom: 60px;
}